@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

.contato {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    background-color:  #1e1e1e;
}

.contato-titulo {
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 2.5rem;
    color: #FFF;
    border-bottom: 4px solid #FFF;
    padding-top: 3%;
}

.contato-conteudo-principal {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.contato-image {
    height: 80vh;
    border-radius: 45vw;
    box-shadow: 3px 3px 30px 10px #5951b3b4;
    margin-bottom: 5%;
}

.contato-conteudo1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form {
    font-family: 'Sarala', sans-serif;
    width: 45vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 3%;
    border: 0.4px solid #fff2e781;
    box-shadow: 1px 1px 5px 5px #fff2e729;
    box-shadow: -1px -1px 5px 5px #fff2e729;
}

.form-contato {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 2%;
}

.form-contato label {
    color: #FFF;
}

.form-contato-nome,
.form-contato-email {
    height: 4vh;
}

.form-contato-mensagem {
    resize: none;
    height: 5vh;
}

.form-contato-nome,
.form-contato-email,
.form-contato-mensagem {
    width: 40vw;
    border: none;
    font-size: 1rem;
    color: #ffffff;
    text-align: center;
    text-align: justify;
    padding-top: 2%;
    background-color: transparent;
    border-bottom: 0.4px solid #FFF;
}

.form-contato-nome:focus,
.form-contato-email:focus,
.form-contato-mensagem:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

input:valid,
textarea:valid {
    border-color: #090;
    border-color: #090;
}


input:invalid,
textarea:invalid {
    border-color: #900;
}


::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.474);
    text-size-adjust: 15px;
}

.form-botao {
    font-family: 'Sarala', sans-serif;
    width: 15vw;
    height: 7vh;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    font-weight: 400;
    font-size: 1.2rem;
    color: #2f1ee8;
    background-color: #FFF;
    margin-top: 2%;
}

.form-botao:hover {
    transform: scale(1.1);
    transition: all 0.8s;
    background-color: #613593dd;
    color: rgb(255, 255, 255);
}

.contato-conteudo2 {
    width: 50vw;
}

.contato-conteudo-lista {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 3%;
}

.contato-lista-link {
    width: 10vw;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    font-size: 1.3rem;
    border: 1px solid #2f1ee8 ;
    box-shadow: 1px 1px 2px 2px #5951b3b4;
    border-radius: 10px;
    padding: 2% 0;
}

.contato-lista-link:hover {
    transform: scale(1.1);
    transition: all 0.8s;
    background-color: #613593dd;
color: rgb(255, 255, 255);
}

.fa-brands {
    color: #FFF;
}

.contato-link-texto {
    font-family: 'Sarala', sans-serif;
    color: #ffffff;
}







